NEXT_PUBLIC_DATABASE_URL=YOUR_NEO_DB_CONNECTION_STRING_HERE # refer to https://neon.com/docs/reference/cli-connection-string
NEXT_PUBLIC_CRON_MINUTES=10 # specify the interval in minutes for the cron job to insert new records in magic_file.txt into the database